*{
	box-sizing: border-box;
	font-family: Comfortaa;
}
header{
	padding: 30px;
}

nav{
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	padding: 20px 0px 2px 0px;
    margin: -5px;
}

footer{
	padding: 15px 0px 15px 15px;
}

main{
	padding: 0px 30px 30px 30px;
    margin: -5px 10px 10px -5px;
}

h2{
	color: #556B2F;
	font-family: Lobster;
}

p{
	font-weight: 550;
}

nav a{
	text-decoration: none;
	color: black;
	font-size: 18px;
	margin: 0px 10px 0px 0px;
	font-weight: 400;
}

nav a:hover{
	color: red;
}

#foot{
	background-color: black;
	color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

.Dish{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

img{
	width: 100%;
	border-radius: 35px;
}

.Dishes{
	display: flex;
	flex-direction: column;
	padding: 30px 40px;
	border-radius: 35px;
	background-color: white;
	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
	cursor: pointer;

}

.price{
	font-size: 20px;
}

.name{
	font-size: 17px;
	margin: -15px 0px 0px 0px;
}

.size {
	color: grey;
	margin: 20px 0px 20px 0px;
}

button{
	background-color: #f1eee9;
	border-radius: 10px;
	padding: 10px 30px;
	cursor: pointer;
	border: none;
	margin-top: auto;
}

button:hover{
	background-color: lightgrey;
}

nav{
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

.Dishes:hover{
	border: 2px solid tomato;
}

div p{
	text-align: start;
}