*{
	box-sizing: border-box;
	font-family: Comfortaa;
}

header{
	padding: 30px;
}

nav{
	padding: 20px 0px 2px 0px;
    margin: -5px;
}

footer{
	padding: 15px 0px 15px 15px;
}

main{
	padding: 0px 0px 30px 30px;
    margin: -5px 0px 10px -5px;
}
h2{
	color: #556B2F;
	font-family: Lobster;
}

p{
	font-weight: 550;
}

ul{
	font-size: 15px;
	font-weight: 550;
    margin: 0px 0px 0px -30px;
}

#mainpicture{
	width: 600px;
	height: 400px;
}


table, tr, td{
	text-align: center;
	padding: 15px;
	border: thin solid black;
	border-collapse: collapse;
	font-weight: 500;
}
 
nav a{
	text-decoration: none;
	color: black;
	font-size: 18px;
	margin: 0px 10px 0px 0px;
	font-weight: 400;
}

nav a:hover{
	color: red;
}

#foot{
	background-color: black;
	color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

th{
	text-align: center;
	padding: 15px;
	border: thin solid black;
	border-collapse: collapse;
	font-weight: 550;
}

