*{
	box-sizing: border-box;
	font-family: Comfortaa;
}
header{
	padding: 30px;
}

nav{
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	padding: 20px 0px 2px 0px;
    margin: -5px;
}

footer{
	padding: 15px 0px 15px 15px;
}

main{
	padding: 0px 30px 30px 30px;
    margin: -5px 10px 10px -5px;
}

h2{
	color: #556B2F;
	font-family: Lobster;
}

p{
	font-weight: 550;
}

nav a{
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-weight: 400;
}

nav a:hover{
	color: red;
}

nav a.active{
	color: tomato;
}

#foot{
	margin-top: auto;
	background-color: black;
	color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

.Dish{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

img{
	width: 100%;
	border-radius: 35px;
}

.Dishes{
	display: flex;
	flex-direction: column;
	padding: 30px 40px;
	border-radius: 35px;
	background-color: white;
	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
	cursor: pointer;

}

.price{
	font-size: 20px;
}

.name{
	font-size: 17px;
	margin: -15px 0px 0px 0px;
}

.size {
	color: grey;
	margin: 20px 0px 20px 0px;
}

.first{
	background-color: #f1eee9;
	border-radius: 10px;
	padding: 10px 30px;
	cursor: pointer;
	border: none;
	margin-top: auto;
}

.first:hover{
	background-color: lightgrey;
}

.Dishes:hover{
	border: 2px solid tomato;
}

div p{
	text-align: start;
}

.page{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#foot{
	margin-top: auto;
}

@media (max-width: 800px) {
	.Dish{
		display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    gap: 10px;
	}

	nav{
		justify-content: space-between;
	}
}

@media (max-width: 600px) {	
	h1{
		text-align: center;
	}

	nav{
		flex-direction: column;
		text-align: center;
	}

	nav a{
		font-size: 22px;
	}

	h2{
		text-align: center;
	}

	.Dish{
		display: grid;
	    grid-template-columns: 1fr;
	}
}

/*ФОРМА*/
form{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 800px;
	gap: 100px;
	margin: auto;
}

#form{
	text-align: center;
}

label{
	display: block;
    margin: 20px 0px 10px 0px;
    font-size: 16px;
	font-weight: bold;
}

legend{
	font-size: 17px;
	font-weight: bold;
	padding: 25px 0px 0px 0px;
}

fieldset{
	border: none;
}

#twotwo{
	font-size: 16px;
	font-weight: bold;
	padding: 25px 0px 0px 0px;
	margin: 0px 0px 0px -10px;
}

.two{
	border-color: black;
	padding: 5px 20px;
	cursor: pointer;
	margin: -15px 0px 15px 0px;
	font-size: 12px;
	font-weight: bold;
}

.two:hover{
	background-color: lightgrey;
}

select, input, textarea{
	width: 100%;
	font-size: 14px;
	padding: 10px;
}

.check, .rad{
	display: flex;
	align-items: center;
	gap: 8px;
}

input[type="checkbox"], 
input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: -20px 0px -20px -10px;
}

#del{
	margin-left: -10px;
}

.text{
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0px 0px 5px;
}

.textt{
	font-size: 12px;
	font-weight: bold;
	margin: -5px 0px 20px 5px;
}

input[type="time"] {
	width: 110%;
	font-size: 14px;
	padding: 8px;
	margin: 0px 0px 0px -10px;
}